button {
    outline: none;
    background: none;
    border: none;
    font-family: inherit;
    border-radius: 50px;
    border: 2px solid $c-gold;
    padding: 10px 25px;
    box-sizing: border-box;
    display: inline-flex;
}

.btn {
    font-size: inherit;
    background: $c-gold;
    color: $c-white;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: $c-white;
        color: $c-gold;
        transition: all 0.2s ease-in-out;
    }

    &-outline {
        background: $c-white;
        color: $c-gold;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: $c-gold;
            color: $c-white;
            transition: all 0.2s ease-in-out;
        }
    }

    &-icon {
        background: $c-white;
        color: $c-dark-brown;
        padding: 0;
        height: 48px;
        column-gap: 15px;
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        padding-right: 15px;

        &__img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            background: $c-gold;
            margin-left: -3px;

            display: flex;
            justify-content: center;
            align-items: center;

            path {
                fill: $c-white;
            }
        }

        &.active {
            background: $c-gold;
            color: $c-white;

            .btn-icon__img {
                background: $c-white;

                path {
                    fill: $c-gold;
                }
            }
        }

        &:hover {
            background: $c-gold;
            color: $c-white;
            transition: background 0.2s ease-in-out;

            .btn-icon__img {
                background: $c-white;
                transition: background 0.2s ease-in-out;

                path {
                    fill: $c-gold;
                }
            }
        }
    }
}

