button {
    outline: none;
    background: none;
    border: none;
    font-family: inherit;
    border-radius: 50px;
    border: 2px solid $c-gold;
    padding: 10px 25px;
    box-sizing: border-box;
    display: inline-flex;
}

.btn {
    font-size: inherit;
    background: $c-gold;
    color: $c-white;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: $c-white;
        color: $c-gold;
        transition: all 0.2s ease-in-out;
    }

    &-outline {
        background: $c-white;
        color: $c-gold;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: $c-gold;
            color: $c-white;
            transition: all 0.2s ease-in-out;
        }
    }
}

