* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins Regular', sans-serif;
    background: $c-white;
    color: $c-white;
}

.noscroll {
    overflow-y: hidden;
}

.container {
    background: $c-white;
    max-width: 2560px;
    margin: auto;
    position: relative;

}

.sectionPadding {
    padding: 80px;

    @include breakpointDown($bp-mobile-lg) {
        padding: 35px;
    }
}

.contentWrapper {
    max-width: 1169px;
    margin: auto;

    @include breakpointDown($bp-tablet-md) {
        max-width: 964px;
    }

    @include breakpointDown($bp-mobile-sm) {
        max-width: 449px;
    }
}

.navMargin {
    margin-top: 100px;

    @include breakpointDown($bp-tablet-sm) {
        margin-top: 0;
    }
}

.star__bg {
        &-top {
            position: absolute;
            top: 0;
            left: 0;

            @include breakpointDown($bp-desktop-md) {
                width: 200px;
            }

            @include breakpointDown(1600px) {
                display: none;
            }
        }

        &-bottom {
            position: absolute;
            bottom: 0;
            right: 0;

            @include breakpointDown($bp-desktop-md) {
                width: 200px;
            }

            @include breakpointDown(1600px) {
                display: none;
            }
        }
    }