.listings {
    background: $c-light-beige;
    color: $c-dark-brown;
    text-align: center;

    &.sectionPadding {
        @include breakpointDown($bp-mobile-lg) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    
    &__reset {
        flex: 1 0 23%;

        @include breakpointDown($bp-mobile-lg) {
            flex: unset;
        }
    }

    &__filter {
        background: $c-dark-brown;
        color: $c-light-beige;
        margin-bottom: 25px;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        row-gap: 25px;
        padding: 25px;

        @include breakpointDown($bp-mobile-lg) {
            flex-flow: column nowrap;
        }

        select {
            flex: 1 0 23%;
            height: 50px;
            width: 100%;

            font-family: "Poppins Semi Bold", sans-serif;
            font-size: 16px;
            padding: 0 25px;

            @include breakpointDown($bp-mobile-lg) {
                flex: unset;
            }
        }
    }

    &__checkboxes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 25px;

    }

    &__checkbox {
        position: relative;
        height: 45px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        background: $c-gold;
        color: $c-white;
        border: 2px solid $c-gold;
        padding: 10px;

        p {
            margin: 0;
        }

        &:hover {
            background: $c-white;
            color: $c-gold;
        }
        
        &.active {
            background: $c-white;
            color: $c-gold;
        }
        
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.1;
        }
    }

    &__swiper {
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 30px;
        height: 300px;

        @include breakpointDown($bp-mobile-lg) {
        }

        &--wrapper {
            position: relative;
            display: none;
            margin-bottom: 25px;

            @include breakpointDown($bp-mobile-lg) {
                display: flex;
                padding-left: 35px !important;
                padding-right: 35px !important;
    
            }
        }

        .swiper-slide {
            @include breakpointDown($bp-mobile-lg) {
                width: 85%;
                max-width: 250px;
            }

            &.hide {
                display: none !important;
            }
        }

        &-pagination {
            display: none;
            @include breakpointDown($bp-mobile-lg) {
                display: block;
            }
            .swiper-pagination-bullet-active {
                background: $c-dark-brown;
            }
        }

        &-prev {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 12.5%;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-next {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 12.5%;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__noResults {
        display: block;
        &.hide {
            display: none !important;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        column-gap: 25px;
        row-gap: 25px;

        @include breakpointDown($bp-tablet-md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpointDown($bp-mobile-lg) {
            display: none;
        }
    }

    .vrIcon {
        path {
            fill: $c-white;
            transform: fill 0.2s ease-in-out;
        }

        &:hover {
            path {
                fill: $c-gold;
                transform: fill 0.2s ease-in-out;
            }
        }
    }

    &__item {
        background: $c-dark-brown;
        color: $c-white;
        width: 100%;
        grid-column: span 1;
        grid-row: span 1;

        display: flex;
        flex-flow: column nowrap;

        font-size: 20px;
        line-height: 14px;

        @include breakpointDown($bp-mobile-lg) {
            max-width: 250px;
        }

        &.hide {
            display: none;
            animation: 0.25s fadeIn ease-in-out;
        }

        &--header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 25px 50px;
            width: 100%;

            @include breakpointDown($bp-mobile-lg) {
                padding: 25px;
            }

            p {
                text-align: start;
            }
        }

        &--floorplan {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $c-white;
            padding: 10px;
            width: 100%;
            height: 150px;

            img {
                width: 100%;
                height: 140px;
                object-fit: contain;
                object-position: center;
            }


            &.active {
                display: block;
            }
        }

        @include breakpointDown($bp-mobile-lg) {
            flex-flow: row wrap;
            padding: 0;
            column-gap: 0;
            font-size: 14px;
            
            .btn {
                p {
                    font-size: 14px;
                }
                padding: 5px 10px;
            }
        }

        p {
            margin: 0;
        }

        &--contact {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            padding: 10px;
            width: 100%;

            background: $c-gold;
            color: $c-white;
            transition: all 0.2s ease-in-out;
            border: 2px solid $c-gold;

            &:hover {
                background: $c-white;
                color: $c-gold;
                transition: all 0.2s ease-in-out;

                path {
                    fill: $c-gold;
                }
            }
        
        }

        &--col {
            display: flex;
            justify-content: center;
            align-items: center;

            &[data-col="availability"] {
                max-width: 100px;
            }

            @include breakpointDown($bp-mobile-lg) {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 75px;
                padding: 0 10px;

                &[data-col="type"] {
                    order: 1;
                    flex: 1 0 48%;
                    border-bottom: 2px solid $c-white;
                }
                &[data-col="price"] {
                    order: 3;
                    flex: 1 0 30%;
                }
                &[data-col="floorplan"] {
                    order: 2;
                    flex: 1 0 48%;
                    border-bottom: 2px solid $c-white;
                }
                &[data-col="vr"] {
                    order: 4;
                    flex: 1 0 30%;
                    border-left: 2px solid $c-white;
                    border-right: 2px solid $c-white;
                }
                &[data-col="availability"] {
                    order: 5;
                    flex: 1 0 30%;
                    max-width: unset;
                }
                &[data-col="contact"] {
                    order: 6;
                    flex: 1 0 100%;
                    border-top: 2px solid $c-white;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}