.listings {
    background: $c-light-beige;
    color: $c-dark-brown;

    text-align: center;

    &__swiper {
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 30px;
        max-height: 320px;

        &--wrapper {
            position: relative;
            display: none;

            @include breakpointDown($bp-mobile-lg) {
                display: flex;
            }
        }




        .swiper-slide {
            opacity: 0.25;
            &-active {
                opacity: 1;
            }
            @include breakpointDown($bp-mobile-lg) {
                width: 85%;
                max-width: 300px;
            }
        }

        &-pagination {
            .swiper-pagination-bullet-active {
                background: $c-dark-brown;
            }
        }

        &-prev {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 12.5%;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-next {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 12.5%;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        column-gap: 25px;
        row-gap: 25px;

        @include breakpointDown($bp-tablet-md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpointDown($bp-mobile-lg) {
            display: none;
        }
    }

    .vrIcon {
        path {
            fill: $c-white;
            transform: fill 0.2s ease-in-out;
        }

        &:hover {
            path {
                fill: $c-gold;
                transform: fill 0.2s ease-in-out;
            }
        }
    }

    &__item {
        background: $c-dark-brown;
        color: $c-white;
        width: 100%;
        grid-column: span 1;
        grid-row: span 1;

        display: flex;
        flex-flow: column nowrap;

        font-size: 20px;
        line-height: 14px;

        &--header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 25px 50px;
            width: 100%;

            @include breakpointDown($bp-mobile-lg) {
                padding: 25px;
            }

            p {
                text-align: start;
            }
        }

        &--floorplan {
            display: none;
            padding: 25px 50px;

            @include breakpointDown($bp-mobile-lg) {
                padding: 25px;
            }

            &.active {
                display: block;
            }
        }

        @include breakpointDown($bp-mobile-lg) {
            flex-flow: row wrap;
            padding: 0;
            column-gap: 0;
            font-size: 14px;
            
            .btn {
                p {
                    font-size: 14px;
                }
                padding: 5px 10px;
            }
        }

        p {
            margin: 0;
        }

        &--contact {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            padding: 10px;
            width: 100%;

            background: $c-gold;
            color: $c-white;
            transition: all 0.2s ease-in-out;
            border: 2px solid $c-gold;

            &:hover {
                background: $c-white;
                color: $c-gold;
                transition: all 0.2s ease-in-out;

                path {
                    fill: $c-gold;
                }
            }
        
        }

        &--col {
            display: flex;
            justify-content: center;
            align-items: center;

            &[data-col="availability"] {
                max-width: 100px;
            }

            @include breakpointDown($bp-mobile-lg) {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 75px;
                padding: 0 10px;

                &[data-col="type"] {
                    order: 1;
                    flex: 1 0 48%;
                    border-bottom: 2px solid $c-white;
                }
                &[data-col="price"] {
                    order: 3;
                    flex: 1 0 30%;
                }
                &[data-col="floorplan"] {
                    order: 2;
                    flex: 1 0 48%;
                    border-bottom: 2px solid $c-white;
                }
                &[data-col="vr"] {
                    order: 4;
                    flex: 1 0 30%;
                    border-left: 2px solid $c-white;
                    border-right: 2px solid $c-white;
                }
                &[data-col="availability"] {
                    order: 5;
                    flex: 1 0 30%;
                    max-width: unset;
                }
                &[data-col="contact"] {
                    order: 6;
                    flex: 1 0 100%;
                    border-top: 2px solid $c-white;
                }
            }
        }
    }
}