.location {
    background: url('../assets/images/img-local-2560.jpg') $c-light-brown;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 521px;
    color: $c-white;
    text-align: center;

    @include breakpointDown($bp-desktop-sm) {
        background-position: top right 20%;
    }

    @include breakpointDown($bp-tablet-md) {
        height: 467px;
    }

    @include breakpointDown($bp-tablet-sm) {
        background: $c-light-brown;
        height: min-content;
    }

    .contentWrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;

        @include breakpointUp($bp-tablet-md) {
            align-items: flex-start;
        }
        @include breakpointDown($bp-tablet-md) {
            height: 60%;
        }
        @include breakpointDown($bp-tablet-sm) {
            height: unset;
        }
    }

    h2 {
        margin: 0;
        
        &:nth-of-type(1) {
            color: $c-black-1;
        }
    }
}

#googleMap {
    height: 445px;
    background: $c-light-grey;

    @include breakpointDown($bp-tablet-sm) {
        display: none;
    }
}

.map {
    color: $c-dark-brown;

    @include breakpointDown($bp-tablet-sm) {
        padding: 0;
    }

    .contentWrapper {
       
    }

    &__container {
        margin-top: -50px;
        z-index: 2;


        @include breakpointDown($bp-tablet-md) {
            margin-top: -200px;
        }

        @include breakpointDown($bp-tablet-sm) {
            margin-top: 0;
        }
    }
    
    &__controls {
        background: $c-light-brown;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        row-gap: 10px;
        padding: 25px 15px;

        .btn-icon {
            flex: 1 0 max-content;
            max-width: max-content;
        }
    }

    &__swiper--container {
        display: none;
        height: 275px;
        
        @include breakpointDown($bp-tablet-sm) {
            display: block;
        }
    }

    &__legend {
        &--container {
            background: $c-dark-brown;
            color: $c-white;
            height: 250px;

            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }
        }

        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: repeat(4, 50px);


        padding: 25px 75px;
        column-gap: 30px;
        row-gap: 30px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.active {
            display: grid;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }
    }

    &__item {
        list-style-position: inside;
    }
}