.steps {
    background: $c-white;
    color: $c-dark-brown;

    &__desktop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        margin-top: -200px;

        @include breakpointDown(1200px) {
            margin-top: -150px;
        }

        @include breakpointDown(1000px) {
            display: none;
        }
    }

    &__header {
        background: url('../assets/images/bg-img-123-2560.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 850px;

        @include breakpointDown($bp-tablet-md) {
            height: 466px;
            background-position: top left;
        }
        @include breakpointDown($bp-mobile-lg) {
            background-position: top left 20%;
        }
    }

    &__card {      
        width: 373px;
        height: 328px;

        @include breakpointDown(1200px) {
            width: 300px;
            height: 300px;
        }

        @include breakpointDown(1000px) {
            width: 373px;
            height: 250px;
        }

        &.spaceTop {
            @include breakpointUp(1000px) {
                margin-top: 35px;
            }
        }
  
        &--header {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            width: 373px;

            @include breakpointDown(1200px) {
                width: 300px;
            }

            @include breakpointDown(1000px) {
                width: 373px;
            }

            img {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }

        &--number {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            bottom: 0;
            left: 35%;
            z-index: 2;
            height: 110px;
            width: 110px;
            border-radius: 50%;
            backdrop-filter: blur(3px);
            background: rgba(255, 255, 255, 0.15);
            z-index: 2;

            @include breakpointDown(1200px) {
                height: 100px;
                width: 100px;
                left: 33%;
            }

            @include breakpointDown(1000px) {
                height: 110px;
                width: 110px;
                left: 35%;
            }


            h2 {
                background: rgba(255, 255, 255, 0.25);
                border-radius: 50%;
                border: 2px solid $c-white;
                height: 90px;
                width: 90px;
                backdrop-filter: blur(3px);
                font-size: 33px;

                display: flex;
                justify-content: center;
                align-items: center;

                @include breakpointDown(1200px) {
                    height: 80px;
                    width: 80px;    
                }

                @include breakpointDown(1000px) {
                    height: 90px;
                    width: 90px;    
                }
    

            }
        }

        &--content {
            background: $c-dark-brown;
            color: $c-white;

            display: flex;
            flex-flow: column nowrap;

            text-align: center;

            padding: 70px 40px;
            height: 100%;

            @include breakpointDown(1300px) {
                padding: 40px;
            }
        }

        &--title {
            font-size: 20px;
            margin-bottom: 25px;
        }
    }

    &__swiper {
        display: none;
        padding: 110px 0 0 0;
        overflow: hidden;
        position: relative;
        margin-top: -200px;

        @include breakpointDown(1000px) {
            display: block;
        }

        .swiper-wrapper {
            padding-bottom: 55px;
        }

        .swiper-slide {
            width: 373px;

            @include breakpointDown(1100px) {
                opacity: 0;
                transition: opacity 0.1s ease-in-out;
            }

            &-active {
                @include breakpointDown(1100px) {
                    opacity: 1;
                    transition: opacity 0.25s ease-in-out;
                }
            }
        }

        &-prev {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 12.5%;
            z-index: 2;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-next {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 12.5%;
            z-index: 2;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}