<div id="amenities" class="amenities">
    <section class="amenities__header sectionPadding">
        <div class="contentWrapper">
            <div class="amenities__header--content">
                <div class="amenities__header--col">
                    <h2>On-Site Amenities</h2>
                    <p>You want more than just somewhere to stay, you want somewhere to grow. The Spark is your source of wellness and community, a place to create and keep memories to last a lifetime.</p>
                    <p>From working up a sweat with friends at the gym, lounging in the lobby, and visiting nearby shops and restaurants, your ‘live local’ world is about to get a whole lot bigger.</p>
                </div>

                <div class="amenities__header--col">
                    <img src="../assets/images/img-onsite.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="amenitiesCards sectionPadding">
        <img class="star__bg-top" src="../assets/svg/bg-stars-left.svg" alt="">
        <img class="star__bg-bottom" src="../assets/svg/bg-stars-right.svg" alt="">
    
        <div class="contentWrapper">
            <div class="amenitiesCards__container">
                <div class="amenitiesCard">
                    <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-lobby.jpg" alt=""></div>
                    <div class="amenitiesCard__content">
                        <p class="amenitiesCard__header bold">Lobby</p>
                        <p class="amenitiesCard__copy">Warm, inviting, secure. Come home to comfort.</p>    
                    </div>
                </div>
    
                <div class="amenitiesCard">
                    <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-gym.jpg" alt=""></div>
                    <div class="amenitiesCard__content">
                        <p class="amenitiesCard__header bold">Gym</p>
                        <p class="amenitiesCard__copy">Achieve your fitness goals with ease.</p>    
                    </div>
                </div>
    
                <div class="amenitiesCard">
                    <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-bike-repair.jpg" alt=""></div>
                    <div class="amenitiesCard__content">
                        <p class="amenitiesCard__header bold">Bike Repair</p>
                        <p class="amenitiesCard__copy">A hassle-free way to repair your ride.</p>    
                    </div>
                </div>
    
                <div class="amenitiesCard">
                    <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-parking.jpg" alt=""></div>
                    <div class="amenitiesCard__content">
                        <p class="amenitiesCard__header bold">Parking Garage</p>
                        <p class="amenitiesCard__copy">Enjoy an easier start to your commute.</p>    
                    </div>
                </div>
    
                <div class="amenitiesCard">
                    <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-storage-lockers.jpg" alt=""></div>
                    <div class="amenitiesCard__content">
                        <p class="amenitiesCard__header bold">Storage Lockers</p>
                        <p class="amenitiesCard__copy">Keep the clutter out of your apartment.</p>    
                    </div>
                </div>
    
                <div class="amenitiesCard">
                    <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-bike-storage.jpg" alt=""></div>
                    <div class="amenitiesCard__content">
                        <p class="amenitiesCard__header bold">Bike Storage</p>
                        <p class="amenitiesCard__copy">Secure and easy for you to access.</p>    
                    </div>
                </div>
            </div>
        </div>

        <div class="contentWrapper">
            <div class="amenities__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="amenitiesCard">
                            <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-bike-repair.jpg" alt=""></div>
                            <div class="amenitiesCard__content">
                                <p class="amenitiesCard__header bold">Lobby</p>
                                <p class="amenitiesCard__copy">Warm, inviting, secure. Come home to comfort.</p>    
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="amenitiesCard">
                            <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-bike-repair.jpg" alt=""></div>
                            <div class="amenitiesCard__content">
                                <p class="amenitiesCard__header bold">Lobby</p>
                                <p class="amenitiesCard__copy">Warm, inviting, secure. Come home to comfort.</p>    
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="amenitiesCard">
                            <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-bike-repair.jpg" alt=""></div>
                            <div class="amenitiesCard__content">
                                <p class="amenitiesCard__header bold">Lobby</p>
                                <p class="amenitiesCard__copy">Warm, inviting, secure. Come home to comfort.</p>    
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="amenitiesCard">
                            <div class="amenitiesCard__img"><img class="amenitiesCard__img" src="../assets/images/img-rendering-bike-repair.jpg" alt=""></div>
                            <div class="amenitiesCard__content">
                                <p class="amenitiesCard__header bold">Lobby</p>
                                <p class="amenitiesCard__copy">Warm, inviting, secure. Come home to comfort.</p>    
                            </div>
                        </div>
                    </div>
                </div>

                <div class="amenities__swiper-prev">
                    <img src="../assets/svg/prev.svg" alt="">
                </div>
        
                <div class="amenities__swiper-next">
                    <img src="../assets/svg/next.svg" alt="">
                </div>
            </div>
        </div>
    </section>
</div>