<div class="container">
  <nav id="nav" class="nav">
    <div class="contentWrapper">
      <img src="../assets/svg/logo.svg" alt="" />
      <button class="btn">
        <span>Book Appointment</span>
      </button>
      <button class="btn-outline">
        <span>Book Appointment</span>
      </button>
    </div>
  </nav>

  <header class="hero" id="hero">
    <div class="contentWrapper">
      <h1>hero</h1>
    </div>
  </header>

  <section id="navSecondary" class="navSecondary">
    <div class="contentWrapper">Nav Secondary</div>
  </section>

  <section id="timeline" class="timeline">
    <div class="contentWrapper" data-wrapper="outer">
      <h2>construction timeline</h2>
    </div>
  </section>

  <section id="layouts" class="layouts">
    <div class="contentWrapper">
      <h1>Layouts</h1>
    </div>
  </section>

  <section id="listings" class="listings">
    <div class="contentWrapper">
      <h1>Listings</h1>
    </div>
  </section>

  <div id="amenities" class="amenities">
    <section class="amenities__header">
      <div class="contentWrapper">
        <h1>Amenities header</h1>
      </div>
    </section>

    <section class="amenities__cards">
      <div class="contentWrapper">
        <h1>amenities cards</h1>
      </div>
    </section>
  </div>

  <section id="location" class="location"></section>

  <section id="map" class="map">
    <div class="contentWrapper">
      <h1>map</h1>
    </div>
  </section>

  <section id="faq" class="faq">
    <div class="contentWrapper">
      <h1>FAQ</h1>
    </div>
  </section>

  <section id="about" class="about">
    <div class="contentWrapper">
      <h1>About Longwood</h1>
    </div>
  </section>

  <div id="steps" class="steps">
    <div class="steps__header"></div>

    <section class="steps__cards">
      <div class="contentWrapper">steps cards</div>
    </section>
  </div>

  <section id="contact" class="contact">
    <div class="contentWrapper">
      <h1>contact</h1>
    </div>
  </section>

  <footer id="footer" class="footer">
    <div class="contentWrapper">
      <span>logo</span>
      <span>btn</span>
    </div>
  </footer>
</div>
