<section id="faq" class="faq sectionPadding">
<img class="star__bg-bottom"  src="../assets/svg/bg-stars-right.svg" alt="">

  <div class="contentWrapper">
    <div class="faq__container">
      <div class="faq__header">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="faq__content">
        <div class="faq__controls">
          <button class="btn btn-faq active" data-faq="apartments">
            The Apartments
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18.055"
              height="7.386"
              viewBox="0 0 18.055 7.386"
            >
              <path
                id="Shape_1"
                data-name="Shape 1"
                d="M145.243,288.491l-.007,0h13.916l-.082,2.346a.239.239,0,0,0,0,.336l.142.142a.236.236,0,0,0,.334,0l3.441-3.455a.238.238,0,0,0,.069-.168.232.232,0,0,0-.069-.167l-3.441-3.458a.24.24,0,0,0-.334,0l-.142.143a.234.234,0,0,0-.069.167.227.227,0,0,0,.069.164l.093,2.351H145.24a.245.245,0,0,0-.24.243v1.125A.24.24,0,0,0,145.243,288.491Z"
                transform="translate(-145 -283.997)"
                fill="#fff"
              ></path>
            </svg>
          </button>

          <button class="btn btn-faq" data-faq="property">
            The Property
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18.055"
              height="7.386"
              viewBox="0 0 18.055 7.386"
            >
              <path
                id="Shape_1"
                data-name="Shape 1"
                d="M145.243,288.491l-.007,0h13.916l-.082,2.346a.239.239,0,0,0,0,.336l.142.142a.236.236,0,0,0,.334,0l3.441-3.455a.238.238,0,0,0,.069-.168.232.232,0,0,0-.069-.167l-3.441-3.458a.24.24,0,0,0-.334,0l-.142.143a.234.234,0,0,0-.069.167.227.227,0,0,0,.069.164l.093,2.351H145.24a.245.245,0,0,0-.24.243v1.125A.24.24,0,0,0,145.243,288.491Z"
                transform="translate(-145 -283.997)"
                fill="#fff"
              ></path>
            </svg>
          </button>
          <button class="btn btn-faq" data-faq="application">
            How to Apply
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18.055"
              height="7.386"
              viewBox="0 0 18.055 7.386"
            >
              <path
                id="Shape_1"
                data-name="Shape 1"
                d="M145.243,288.491l-.007,0h13.916l-.082,2.346a.239.239,0,0,0,0,.336l.142.142a.236.236,0,0,0,.334,0l3.441-3.455a.238.238,0,0,0,.069-.168.232.232,0,0,0-.069-.167l-3.441-3.458a.24.24,0,0,0-.334,0l-.142.143a.234.234,0,0,0-.069.167.227.227,0,0,0,.069.164l.093,2.351H145.24a.245.245,0,0,0-.24.243v1.125A.24.24,0,0,0,145.243,288.491Z"
                transform="translate(-145 -283.997)"
                fill="#fff"
              ></path>
            </svg>
          </button>
        </div>

        <div class="faq__sections">
          <div class="faq__section active" data-faq="apartments">
            <div class="faq__item active">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Apartments</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>
          </div>
          <div class="faq__section" data-faq="property">
            <div class="faq__item active">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Property</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>
          </div>
          <div class="faq__section" data-faq="application">
            <div class="faq__item active">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Application</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__question">
                <div class="faq__question--text">
                  <p>Question</p>
                </div>

                <div class="faq__question--status">
                  <div class="faq__question--inactive"></div>
                  <div class="faq__question--active"></div>
                </div>
              </div>

              <div class="faq__answer">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatem aut qui animi nobis voluptate necessitatibus, ipsum
                  quo maiores ea commodi molestias sint numquam, vitae nam
                  asperiores culpa nisi? Ad, molestias!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
