<div class="hero__bg--mobile"></div>
<header class="hero sectionPadding" id="hero">
    <div class="hero__bg"></div>

    <div class="contentWrapper">
        <div class="hero__content">
            <div class="hero__col">
                <div class="hero__card">
                    <span class="hero__address">353 Gardner Street</span>
                    <h1 class="hero__header">Indulge in effortless living</h1>
                    <p>A collection of sophisticated apartments featuring community-driven amenities that make urban living laid back and easy. Say hello to a new way to live, work, and play in Ottawa.</p>
                    <p class="bold">Get immediate access to virtual tours, pricing, and the appointment calendar.</p>
                    <a href="https://www.google.ca/" target="_blank" class="btn btn-arrow">
                        Book Appointment
                        <svg xmlns="http://www.w3.org/2000/svg" width="18.055" height="7.386" viewBox="0 0 18.055 7.386">
                            <path id="Shape_1" data-name="Shape 1" d="M145.243,288.491l-.007,0h13.916l-.082,2.346a.239.239,0,0,0,0,.336l.142.142a.236.236,0,0,0,.334,0l3.441-3.455a.238.238,0,0,0,.069-.168.232.232,0,0,0-.069-.167l-3.441-3.458a.24.24,0,0,0-.334,0l-.142.143a.234.234,0,0,0-.069.167.227.227,0,0,0,.069.164l.093,2.351H145.24a.245.245,0,0,0-.24.243v1.125A.24.24,0,0,0,145.243,288.491Z" transform="translate(-145 -283.997)" fill="#fff"/>
                          </svg>
                    </a>
                </div>
            </div>
            <div class="hero__col"></div>
        </div>
    </div>
  </header>