<section id="layouts" class="layouts">
    <div class="contentWrapper">
      <div class="layouts__container">
        <div class="layouts__row">
            <div class="layouts__header">
                <h2>Tour our <br/>Virtual <span>Model Suites</span></h2>
                <p>The Spark offers 1 and 2-bedroom apartments with modern layouts and sleek finishes.</p>
            </div>

            <div class="layouts__video">
                <img src="../assets/svg/play-btn.svg" alt="">
            </div>
        </div>

        <div class="layouts__row layouts__gallery">
            <a href="images/img-rendering-kitchen-lb.jpg" data-fslightbox="layoutsDesktop" class="layouts__img">
                <img src="../assets/images/img-rendering-kitchen-lb.jpg" alt="">
            </a>
            <a href="images/img-rendering-living-lb.jpg" data-fslightbox="layoutsDesktop" class="layouts__img">
                <img src="../assets/images/img-rendering-living-lb.jpg" alt="">
            </a>
            <a href="images/img-rendering-bathroom-lb.jpg" data-fslightbox="layoutsDesktop" class="layouts__img">
                <img src="../assets/images/img-rendering-bathroom-lb.jpg" alt="">
            </a>
        </div>

        <div class="layouts__row layouts__swiper">
            <div class="swiper-wrapper">
                <a href="images/img-rendering-kitchen-lb.jpg" data-fslightbox="layoutsMobile" class="swiper-slide">
                    <img src="../assets/images/img-rendering-kitchen-lb.jpg" alt="">
                </a>
                <a href="images/img-rendering-living-lb.jpg" data-fslightbox="layoutsMobile" class="swiper-slide">
                    <img src="../assets/images/img-rendering-living-lb.jpg" alt="">
                </a>
                <a href="images/img-rendering-bathroom-lb.jpg" data-fslightbox="layoutsMobile" class="swiper-slide">
                    <img src="../assets/images/img-rendering-bathroom-lb.jpg" alt="">
                </a>    
            </div>
    
            <div class="layouts__swiper-prev">
                <img src="../assets/svg/prev.svg" alt="">
            </div>
    
            <div class="layouts__swiper-next">
                <img src="../assets/svg/next.svg" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>