<section id="listings" class="listings sectionPadding">
    <div class="contentWrapper">
      <h2>Featured Listings</h2>

      <div class="listings__container">
        <div class="listings__item">
          <div class="listings__item--col" data-col="type">
            <p class="listings__item--type bold">1 Bedroom + Den</p>
          </div>

          <div class="listings__item--col" data-col="price">
            <p class="listings__item--price">$0,000</p>
          </div>

          <div class="listings__item--col" data-col="floorplan">
            <a href="#" target="_blank">
              <button class="btn"><p>View Floorplan</p></button>
            </a>
          </div>

          <div class="listings__item--col" data-col="vr">
            <a href="#" target="_blank">
              <img src="../assets/svg/icon-vr.svg" alt="VR">
            </a>
          </div>

          <div class="listings__item--col" data-col="availability">
            <p class="listings__item--availability">Available Now</p>
          </div>

          <div class="listings__item--col" data-col="contact">
            <button class="btn"><p>Inquire Now</p></button>
          </div>
        </div>
        <div class="listings__item">
          <div class="listings__item--col" data-col="type">
            <p class="listings__item--type bold">1 Bedroom + Den</p>
          </div>

          <div class="listings__item--col" data-col="price">
            <p class="listings__item--price">$0,000</p>
          </div>

          <div class="listings__item--col" data-col="floorplan">
            <a href="#" target="_blank">
              <button class="btn"><p>View Floorplan</p></button>
            </a>
          </div>

          <div class="listings__item--col" data-col="vr">
            <a href="#" target="_blank">
              <img src="../assets/svg/icon-vr.svg" alt="VR">
            </a>
          </div>

          <div class="listings__item--col" data-col="availability">
            <p class="listings__item--availability">Available Now</p>
          </div>

          <div class="listings__item--col" data-col="contact">
            <button class="btn"><p>Inquire Now</p></button>
          </div>
        </div>
        <div class="listings__item">
          <div class="listings__item--col" data-col="type">
            <p class="listings__item--type bold">1 Bedroom + Den</p>
          </div>

          <div class="listings__item--col" data-col="price">
            <p class="listings__item--price">$0,000</p>
          </div>

          <div class="listings__item--col" data-col="floorplan">
            <a href="#" target="_blank">
              <button class="btn"><p>View Floorplan</p></button>
            </a>
          </div>

          <div class="listings__item--col" data-col="vr">
            <a href="#" target="_blank">
              <img src="../assets/svg/icon-vr.svg" alt="VR">
            </a>
          </div>

          <div class="listings__item--col" data-col="availability">
            <p class="listings__item--availability">Available Now</p>
          </div>

          <div class="listings__item--col" data-col="contact">
            <button class="btn"><p>Inquire Now</p></button>
          </div>
        </div>
        <div class="listings__item">
          <div class="listings__item--col" data-col="type">
            <p class="listings__item--type bold">1 Bedroom + Den</p>
          </div>

          <div class="listings__item--col" data-col="price">
            <p class="listings__item--price">$0,000</p>
          </div>

          <div class="listings__item--col" data-col="floorplan">
            <a href="#" target="_blank">
              <button class="btn"><p>View Floorplan</p></button>
            </a>
          </div>

          <div class="listings__item--col" data-col="vr">
            <a href="#" target="_blank">
              <img src="../assets/svg/icon-vr.svg" alt="VR">
            </a>
          </div>

          <div class="listings__item--col" data-col="availability">
            <p class="listings__item--availability">Available Now</p>
          </div>

          <div class="listings__item--col" data-col="contact">
            <button class="btn"><p>Inquire Now</p></button>
          </div>
        </div>
        <div class="listings__item">
          <div class="listings__item--col" data-col="type">
            <p class="listings__item--type bold">1 Bedroom + Den</p>
          </div>

          <div class="listings__item--col" data-col="price">
            <p class="listings__item--price">$0,000</p>
          </div>

          <div class="listings__item--col" data-col="floorplan">
            <a href="#" target="_blank">
              <button class="btn"><p>View Floorplan</p></button>
            </a>
          </div>

          <div class="listings__item--col" data-col="vr">
            <a href="#" target="_blank">
              <img src="../assets/svg/icon-vr.svg" alt="VR">
            </a>
          </div>

          <div class="listings__item--col" data-col="availability">
            <p class="listings__item--availability">Available Now</p>
          </div>

          <div class="listings__item--col" data-col="contact">
            <button class="btn"><p>Inquire Now</p></button>
          </div>
        </div>
      </div>
    </div>
</section>
