<section id="map" class="map">
    <div class="contentWrapper">
      <div id="googleMap"></div>
      <div class="map__controls">
        <button class="btn-icon active">
            <div class="btn-icon__img"></div>
            <p>Restaurants & Coffee</p>
        </button>
        <button class="btn-icon">
            <div class="btn-icon__img"></div>
            <p>Shopping</p>
        </button>
        <button class="btn-icon">
            <div class="btn-icon__img"></div>
            <p>Lifestyle</p>
        </button>
        <button class="btn-icon">
            <div class="btn-icon__img"></div>
            <p>Parks</p>
        </button>
        <button class="btn-icon">
            <div class="btn-icon__img"></div>
            <p>Transit</p>
        </button>
      </div>
      <ol class="map__legend">
        <li class="map__item">1eroifnerfwrf</li>
        <li class="map__item">2wrkgjnwrf</li>
        <li class="map__item">3origwrg</li>
        <li class="map__item">4wjrgnwrf</li>
        <li class="map__item">5wkrgjnsrl</li>
      </ol>
    </div>
  </section>