<div id="steps" class="steps">
    <div class="steps__header"></div>

    <div class="contentWrapper">
        <div class="steps__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="steps__card">
                        <div class="steps__card--header">
                            <div class="steps__card--number">
                                <h2>01</h2>
                            </div>
                            <img src="../assets/svg/step-outline.svg" alt="">
                        </div>
                        <div class="steps__card--content">
                            <div class="steps__card--title">
                                <p class="bold">Step One</p>
                            </div>
                            <div class="steps__copy">
                                <p>Register for first access to floorplans and pricing, virtual tours, and leasing appointments.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="steps__card">
                        <div class="steps__card--header">
                            <div class="steps__card--number">
                                <h2>02</h2>
                            </div>
                            <img src="../assets/svg/step-outline.svg" alt="">
                        </div>
                        <div class="steps__card--content">
                            <div class="steps__card--title">
                                <p class="bold">Step Two</p>
                            </div>
                            <div class="steps__copy">
                                <p>Book an appointment to tour our available apartments.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="steps__card">
                        <div class="steps__card--header">
                            <div class="steps__card--number">
                                <h2>03</h2>
                            </div>
                            <img src="../assets/svg/step-outline.svg" alt="">
                        </div>
                        <div class="steps__card--content">
                            <div class="steps__card--title">
                                <p class="bold">Step Three</p>
                            </div>
                            <div class="steps__copy">
                                <p>Move into your new home and enjoy effortless living!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="steps__swiper-prev">
                <img src="../assets/svg/prev.svg" alt="">
            </div>
    
            <div class="steps__swiper-next">
                <img src="../assets/svg/next.svg" alt="">
            </div>
        </div>

        <div class="steps__desktop">
            <div class="steps__card">
                <div class="steps__card--header">
                    <div class="steps__card--number">
                        <h2>01</h2>
                    </div>
                    <img src="../assets/svg/step-outline.svg" alt="">
                </div>
                <div class="steps__card--content">
                    <div class="steps__card--title">
                        <p class="bold">Step One</p>
                    </div>
                    <div class="steps__copy">
                        <p>Register for first access to floorplans and pricing, virtual tours, and leasing appointments.</p>
                    </div>
                </div>
            </div>

            <div class="steps__card spaceTop">
                <div class="steps__card--header">
                    <div class="steps__card--number">
                        <h2>02</h2>
                    </div>
                    <img src="../assets/svg/step-outline.svg" alt="">
                </div>
                <div class="steps__card--content">
                    <div class="steps__card--title">
                        <p class="bold">Step Two</p>
                    </div>
                    <div class="steps__copy">
                        <p>Book an appointment to tour our available apartments.</p>
                    </div>
                </div>
            </div>


            <div class="steps__card">
                <div class="steps__card--header">
                    <div class="steps__card--number">
                        <h2>03</h2>
                    </div>
                    <img src="../assets/svg/step-outline.svg" alt="">
                </div>
                <div class="steps__card--content">
                    <div class="steps__card--title">
                        <p class="bold">Step Three</p>
                    </div>
                    <div class="steps__copy">
                        <p>Move into your new home and enjoy effortless living!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>