<section id="timeline" class="timeline sectionPadding">
    <div class="contentWrapper" data-wrapper="outer">
      <h2>Construction is Underway</h2>
      <h2>Completion Due XXXX XXXX</h2>

        <div class="timeline__container">
            <div class="timeline__wrapper">    
                <div class="timeline__progress-bar--container">
                    <div class="timeline__image"></div>

                    <div class="timeline__markers">
                        <div class="timeline__marker--container">
                            <div class="timeline__marker" data-marker="1"><i class="fa-solid fa-check"></i></div>
                        </div>
                        <div class="timeline__marker--container">
                            <div class="timeline__marker" data-marker="2"><i class="fa-solid fa-check"></i></div>
                        </div>
                        <div class="timeline__marker--container">
                            <div class="timeline__marker" data-marker="3"><i class="fa-solid fa-check"></i></div>
                        </div>
                        <div class="timeline__marker--container">
                            <div class="timeline__marker" data-marker="4"><i class="fa-solid fa-check"></i></div>
                        </div>
                        <div class="timeline__marker--container">
                            <div class="timeline__marker" data-marker="5"><i class="fa-solid fa-check"></i></div>
                        </div>
                        <div class="timeline__marker--container">
                            <div class="timeline__marker" data-marker="6"><i class="fa-solid fa-check"></i></div>
                        </div>
                    </div>
    
                    <div class="timeline__progress-bar--wrapper">
                        <div class="timeline__progress-bar">
                            <div class="timeline__progress-bar--percent" id="progressBar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline__phases">
                <div class="timeline__phase">
                    <p class="bold">Phase 1</p>
                    <p>Diaphragm Wall <br/>& Excavation</p>
                </div>
        
                <div class="timeline__phase">
                    <p class="bold">Phase 2</p>
                    <p>Basement <br/>Construction</p>
                </div>
        
                <div class="timeline__phase">
                    <p class="bold">Phase 3</p>
                    <p>Building <br/>Structure</p>
                </div>
        
                <div class="timeline__phase">
                    <p class="bold">Phase 4</p>
                    <p>External Façade <br/>& Roof Crown</p>
                </div>
        
                <div class="timeline__phase">
                    <p class="bold">Phase 5</p>
                    <p>Apartment <br/>Finishes</p>
                </div>
        
                <div class="timeline__phase">
                    <p class="bold">Phase 6</p>
                    <p>Ready for <br/>Move In</p>
                </div>
            </div>
        </div>
</div>
<input type="number" id="currentPhase" value="1">
  </section>