<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Spark</title>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>
    <!-- Google Maps polyfill -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeGZ5ha4FkhvwlVte4lW63pEvaVt2PViA"
    ></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main class="container">
      <%= require('html-loader!./partials/nav.html').default %>
      <!--  -->
    
      <header class="hero" id="hero">
        <div class="contentWrapper">
          <h2>hero</h2>
        </div>
      </header>
    
      <section id="navSecondary" class="navSecondary">
        <div class="contentWrapper">Nav Secondary</div>
      </section>
    
      <%= require('html-loader!./partials/timeline.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/layouts.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/listings.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/amenities.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/location.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/map.html').default %>
      <!--  -->
   
    
      
    
      <section id="faq" class="faq">
        <div class="contentWrapper">
          <h2>FAQ</h2>
        </div>
      </section>
      <%= require('html-loader!./partials/about.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/steps.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/contact.html').default %>
      <!--  -->

    

    
      
    
      <footer id="footer" class="footer">
        <div class="contentWrapper">
          <span>logo</span>
          <span>btn</span>
        </div>
      </footer>
    </main>
    
  </body>
</html>
