<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Spark</title>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>
    <!-- Google Maps polyfill -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeGZ5ha4FkhvwlVte4lW63pEvaVt2PViA"
    ></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main class="container" id="top">
      <div class="navMobile__overlay"></div>
      <%= require('html-loader!./partials/nav.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/hero.html').default %>
      <!--  -->

      <section id="navSecondary" class="navSecondary">
        <ul class="nav__items" id="onePageNav">
          <li class="onePageNav__reset">
            <a href="#timeline"></a>
          </li>
          <li>
            <a href="#layouts">
              <p>Layouts</p>
            </a>
          </li>

          <li>
            <a href="#amenities">
              <p>Amenities</p>
            </a>
          </li>

          <li>
            <a href="#location">
              <p>Location</p>
            </a>
          </li>

          <li>
            <a href="#contact">
              <p>Contact</p>
            </a>
          </li>
        </ul>
      </section>

      <%= require('html-loader!./partials/timeline.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/layouts.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/listings.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/amenities.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/location.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/map.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/faq.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/about.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/steps.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/contact.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/footer.html').default %>
      <!--  -->
    </main>

    <section class="vrTour__container">
      <iframe
        src="https://finelinevirtualtours.com/2155/Suite02/"
        id="vrTour"
        frameborder="0"
        data-class="vrTour__iframe"
      ></iframe>
    </section>

    <%= require('html-loader!./partials/registerPopup.html').default %>
    <!--  -->
  </body>
</html>
